Thumbs.db
.Trash

# Exclude the build directory
build

# Exclude OS X folder attributes
.DS_Store

# Exclude user-specific XCode 3 and 4 files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata
profile

# Exclude temp nibs and swap files
*.swp
*~
*.orig
*.rej
*.swp
.#*
*.obj
*.o
*.ncb
*.ilk
*.pyc

#idea files (appcode)
.idea/*

#FastLane files
/fastlane/report.xml
# Deliver temporary error output
/fastlane/Error*.png
# Deliver temporary preview output
/fastlane/Preview.html
# Snapshot generated screenshots
/fastlane/screenshots/*/*-portrait.png
/fastlane/screenshots/*/*-landscape.png
/fastlane/screenshots/screenshots.html
# Frameit generated screenshots
/fastlane/screenshots/*/*-portrait_framed.png
/fastlane/screenshots/*/*-landscape_framed.png
fastlane/sigh_output
*.cer
*.p12
*.mobileprovision